<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-altacuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
    method="POST"
    id="doAltaCuenta"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/usuario/cuenta"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class DmAltaCuenta extends Polymer.Element {
      static get is() { return 'dm-altacuenta'; }
      static get properties() {
        return {
          balance: {
            type: Number
          },
          descipcion: {
            type: String
          },
          idUsuario: {
            type: Number
          }
        };
      };

      envioDatosAltaCuenta(data) {
        console.log("envioDatosAltaCuenta");
        console.log(data);
        this.idUsuario = data.idUsuario;
        var altaCuenta ={
          "balance":data.balance,
          "desCuenta":data.desCuenta,
          "idUsuario":data.idUsuario
        };
        this.$.doAltaCuenta.body = JSON.stringify(altaCuenta);
        this.$.doAltaCuenta.generateRequest();
      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida altacuenta-respuesta");
        console.log(data.detail.response);
        //this.logged = true;
        this.dispatchEvent(
          new CustomEvent(
            "altacuenta-respuesta",
              {
                "detail":data.detail.response
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      };
    }
    window.customElements.define(DmAltaCuenta.is, DmAltaCuenta);
  </script>
</dom-module>
