<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-altamovimientocuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
    method="POST"
    id="doAltaMovimiento"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/cuenta/{{idCuenta}}/movimiento/"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class DmAltaMovimientoCuenta extends Polymer.Element {
      static get is() { return 'dm-altamovimientocuenta'; }
      static get properties() {
        return {
          importe: {
            type: Number
          },
          fechaMovimiento: {
            type: String
          },
          horaMovimiento: {
            type: String
          },
          desMovimiento: {
            type: String
          },
          idCuenta: {
            type: Number
          }
        };
      };

      envioDatosAltaMovimiento(data) {
        console.log("envioDatosAltaMovimiento");
        console.log(data);
        this.idCuenta = data.idCuenta;
        var altaMovimiento ={
          "importe":data.importe,
          "fechaMovimiento":data.fechaMovimiento,
          "horaMovimiento":data.horaMovimiento,
          "desMovimiento":data.desMovimiento,
          "idCuenta":data.idCuenta
        };
        this.$.doAltaMovimiento.body = JSON.stringify(altaMovimiento);
        this.$.doAltaMovimiento.generateRequest();

      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida altamovimiento-respuesta");
        console.log(data.detail.response);
        //this.logged = true;
        this.dispatchEvent(
          new CustomEvent(
            "altamovimiento-respuesta",
              {
                "detail":data.detail.response
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      };
    }
    window.customElements.define(DmAltaMovimientoCuenta.is, DmAltaMovimientoCuenta);
  </script>
</dom-module>
