<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../dm-loginusuario/dm-loginusuario.html">

<link rel="import" href="../dm-logoutusuario/dm-logoutusuario.html">

<link rel="import" href="../dm-cuentasusuario/dm-cuentasusuario.html">
<link rel="import" href="../cuentas-usuario/cuentas-usuario.html">

<link rel="import" href="../dm-movimientoscuenta/dm-movimientoscuenta.html">
<link rel="import" href="../movimientos-cuenta/movimientos-cuenta.html">

<link rel="import" href="../dm-altausuario/dm-altausuario.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">

<link rel="import" href="../dm-altamovimientocuenta/dm-altamovimientocuenta.html">
<link rel="import" href="../altamovimiento-cuenta/altamovimiento-cuenta.html">

<link rel="import" href="../dm-altacuenta/dm-altacuenta.html">
<link rel="import" href="../alta-cuenta/alta-cuenta.html">

<link rel="import" href="../dm-apiexterna/dm-apiexterna.html">

<dom-module id="gestor-eventos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md" style="background-color:#042444;">
        <span class="navbar-brand mb-0 h1" style="font-size: 2.75rem; color: #FFFFFF;">
          <img src="https://s3-eu-west-1.amazonaws.com/leti-demobucket/logo.png">
        </span>
    </nav>
    <nav class="navbar navbar-expand-md" style="background-color:#084786;">
      <font size=3 face="arial" style="color:#FFFFFF" ><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PARTICULARES</b></font>
        <!--LOGOUT USUARIO-->
      <div hidden$="{{showCerrarSesion}}">
          <font face="arial">
            <button type="button" class="btn btn-secondary btn-sm" style="Position:Absolute; left:90%; top:10%; background-color:#042444;" on-click="cerrarSesion"><b>Cerrar sesión</b></button>
          </font>
          <dm-logoutusuario id="dmlogoutusuario" on-logout-respuesta="respuestaLogoutUsuario"></dm-logoutusuario>
      </div>
    </nav>
    <br></br>
    <table align="right">
      <thead>
        <tr>
          <td><img src="https://s3-eu-west-1.amazonaws.com/leti-demobucket/cotizacion.png"></td>
          <td><font size=3 face="arial">&nbsp;&nbsp;CAMBIO DIVISAS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br></br>
    <table class="table-bordered" align="right" bordercolor="blue">
      <thead>
        <tr>
          <td><font size=2 face="arial">USD-EUR</font></td>
          <td><font size=2 face="arial">USD-JPY</font></td>
          <td><font size=2 face="arial">USD-GBP</font></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><font size=2 face="arial">{{ratesUSDEUR}}</font></td>
          <td><font size=2 face="arial">{{ratesUSDJPY}}</font></td>
          <td><font size=2 face="arial">{{ratesUSDGBP}}</font></td>
        </tr>
      </tbody>
    </table>
    <br></br>
    <br></br>

    <!--API EXTERNA-->
    <dm-apiexterna on-respuesta-apiexterna="printDivisas"></dm-apiexterna>

    <!--LOGIN USUARIO-->
    <div hidden$="{{showLogin}}">
      <login-usuario id="loginusuario" on-login="printLogin" on-usuario="printFormAltaUsuario"></login-usuario>
    </div>
    <dm-loginusuario id="dmloginusuario" on-login-respuesta="respuestaLogin"></dm-loginusuario>

    <!--MOSTRAR CUENTAS USUARIO-->
    <dm-cuentasusuario id="dmcuentasusuario" on-cuentas-respuesta="respuestaCuentas"></dm-cuentasusuario>
    <div hidden$="{{showCuentas}}">
      <cuentas-usuario id="cuentasusuario" on-cuentas="printCuentas" on-btncuenta="printFormAltaCuenta"></cuentas-usuario>
    </div>

    <!--MOSTRAR MOVIMIENTOS CUENTAS -->
    <dm-movimientoscuenta id="dmmovimientoscuenta" on-movimientos-respuesta="respuestaMovimientos" on-movimientos-respuestaerror="respuestaMovimientos"></dm-movimientoscuenta>
    <div hidden$="{{showMovimientos}}">
      <movimientos-cuenta id="movimientoscuenta" on-movimientos="printMovimientos" on-btnmovimiento="printFormAltaMovimiento"></movimientos-cuenta>
    </div>

    <!--ALTA CUENTA-->
    <div hidden$="{{showAltaCuenta}}">
      <alta-cuenta id="altacuenta" on-cuenta-alta="printAltaCuenta" on-vuelvo-cuentas="printCuentasSinAltaMov"></alta-cuenta>
    </div>
    <dm-altacuenta id="dmaltacuenta" on-altacuenta-respuesta="respuestaAltaCuenta"></dm-altacuenta>

    <!--ALTA MOVIMIENTO-->
    <div hidden$="{{showAltaMovimiento}}">
      <altamovimiento-cuenta id="altamovimientocuenta" on-movimiento-alta="printAltaMovimiento" on-vuelvo-cuentas="printCuentasSinAltaMov"></altamovimiento-cuenta>
    </div>
    <dm-altamovimientocuenta id="dmaltamovimientocuenta" on-altamovimiento-respuesta="respuestaAltaMovimiento"></dm-altamovimientocuenta>

    <!--ALTA USUARIO-->
    <div hidden$="{{showUsuario}}">
      <alta-usuario id="altausuario" on-usuario-alta="printAltaUsuario" on-vuelvo-login="printFormLogin"></alta-usuario>
    </div>
    <dm-altausuario id="dmaltausuario" on-altausuario-respuesta="respuestaAltaUsuario"></dm-altausuario>

    <!--ERROR LOGIN-->
    <div hidden$="{{showError}}">
      <h6>Login incorrecto, email y/o passsword no encontrados</h6>
    </div>
    <!--Usuario OK-->
    <div hidden$="{{showUsuarioOK}}">
      <h6>Usuario dado de alta correctamente, introduce email y password para poder comenzar a operar</h6>
    </div>

  </template>

  <script>

    class GestorEventos extends Polymer.Element {
      static get is() { return 'gestor-eventos'; }
      static get properties() {
        return {
          showLogin: {
            type: Boolean,
            value: false
          },
          showCuentas: {
            type: Boolean,
            value: true
          },
          showMovimientos: {
            type: Boolean,
            value: true
          },
          showUsuario: {
            type: Boolean,
            value: true
          },
          showError: {
            type: Boolean,
            value: true
          },
          showUsuarioOK: {
            type: Boolean,
            value: true
          },
          showCerrarSesion: {
            type: Boolean,
            value: true
          },
          showAltaMovimiento: {
            type: Boolean,
            value: true
          },
          showAltaCuenta: {
            type: Boolean,
            value: true
          },
          idUsuario : {
            type: Number
          },
          ratesUSDEUR: {
            type: Number
          },
          ratesUSDJPY: {
            type: Number
          },
          ratesUSDGBP: {
            type: Number
          }
        };
      }

      printFormLogin(){
        console.log("gestor-eventos - printFormLogin");
        this.showAltaMovimiento = true;
        this.showCuentas = true;
        this.showMovimientos = true;
        this.showUsuario = true;
        this.showCerrarSesion = true;
        this.showAltaMovimiento = true;

        this.$.loginusuario.inicializarFormularios();

        this.showLogin = false;
      }

      printCuentasSinAltaMov(e){
        console.log("gestor-eventos - printCuentasSinAltaMov");
        console.log(e.detail);
        this.showDmAltaMovimiento = true;
        this.showAltaMovimiento = true;
        this.showAltaCuenta = true;
        this.showCuentas = false;
        this.showUsuario = true;

      }

      printFormAltaUsuario(e){
        console.log("gestor-eventos - printFormAltaUsuario");
        console.log(e.detail);

        this.$.altausuario.inicializarHazteCliente();

        this.showCerrarSesion = true;
        this.showUsuario = false;
        this.showLogin = true;
        this.showError = true;
      }

      printAltaUsuario(e){
        console.log("gestor-eventos - printAltaUsuario");
        console.log(e);

        this.showUsuario = true;
        this.showLogin = false;

        this.$.dmaltausuario.envioDatosAltaUsuario(e.detail);
      };

      respuestaAltaUsuario(e){
        console.log("gestor-eventos - respuestaAltaUsuario");
        console.log(e);

        this.showUsuario = true;
        this.showUsuarioOK = false;
        this.showLogin = false;
      };

      printLogin(e){
        console.log("gestor-eventos - printLogin");
        console.log(e);

        this.showError = true;
        this.showUsuarioOK = true;
        this.showCerrarSesion = true;

        this.$.dmloginusuario.envioDatosLogin(e.detail);
      };

      respuestaLogin(e){
        console.log("gestor-eventos - respuestaLogin");
        console.log(e);

        if (e.detail.mensaje == "Login incorrecto, email y/o passsword no encontrados"){
          this.showError = false;
          this.showUsuarioOK = true;
          this.showLogin = false;
          this.showCerrarSesion = true;
        }
        else{
          this.idUsuario = e.detail.Usuario.idUsuario;
          this.showLogin = true;
          this.$.dmcuentasusuario.envioDatosUsuario(e.detail);
        }
      };

      respuestaCuentas(e){
        console.log("gestor-eventos - respuestaCuentas");
        console.log(e);

        this.showCuentas = false;
        this.showCerrarSesion = false;

        this.$.cuentasusuario.envioDatosCuentas(e.detail);
      };

      printCuentas(e){
        console.log("gestor-eventos - printCuentas");
        console.log(e);

        this.showCuentas = false;
        this.showCerrarSesion = false;

        this.$.dmmovimientoscuenta.envioDatCuenta(e.detail);
      };

      respuestaMovimientos(e){
        console.log("gestor-eventos - respuestaMovimientos");
        console.log(e);

        this.showMovimientos = false;
        this.showCerrarSesion = false;

        this.$.movimientoscuenta.envioDatosMovimientos(e.detail);
      };

      printMovimientos(e){
        console.log("gestor-eventos - printMovimientos");
        console.log(e);

        this.showCerrarSesion = false;
        this.showMovimientos = false;
      };

      printFormAltaMovimiento(e){
        console.log("gestor-eventos - printFormAltaMovimiento");
        console.log(e);

        this.showCuentas = true;
        this.showMovimientos = true;
        this.showCerrarSesion = false;
        this.showAltaMovimiento = false;
        this.$.altamovimientocuenta.inicializarFormularios();
        this.$.altamovimientocuenta.envioidCuenta(e.detail);
      };

      printFormAltaCuenta(e){
        console.log("gestor-eventos - printFormAltaCuenta");
        console.log(e);

        this.showCuentas = true;
        this.showMovimientos = true;
        this.showCerrarSesion = false;
        this.showAltaCuenta = false;
        this.$.altacuenta.inicializarFormularios();
        console.log("Este es id de Usuario: " + this.idUsuario);
        this.$.altacuenta.envioidUsuario(this.idUsuario);
      }


      printAltaMovimiento(e){
        console.log("gestor-eventos - printAltaMovimiento");
        console.log(e);
        this.$.dmaltamovimientocuenta.envioDatosAltaMovimiento(e.detail);
      };

      printAltaCuenta(e){
        console.log("gestor-eventos - printAltaCuenta");
        console.log(e);
        this.$.dmaltacuenta.envioDatosAltaCuenta(e.detail);
        this.showAltaCuenta = false;
      };

      respuestaAltaMovimiento(e){
        console.log("gestor-eventos - respuestaAltaMovimiento");
        console.log(e);
        this.showAltaMovimiento = true;
        this.showCerrarSesion = false;
        this.$.dmcuentasusuario.envioDatosUsuarioAC(this.idUsuario);
        this.showCuentas = false;
      };

      respuestaAltaCuenta(e){
        console.log("gestor-eventos - respuestaAltaCuenta");
        console.log(e);
        this.showAltaCuenta = true;
        this.showCerrarSesion = false;
        this.$.dmcuentasusuario.envioDatosUsuarioAC(this.idUsuario);
        this.showCuentas = false;
      };

      cerrarSesion(){
          console.log("gestor-eventos - cerrarSesion");
          console.log("idUsuario: " + this.idUsuario);
          this.showCerrarSesion = true;
          this.$.dmlogoutusuario.envioDatosLogout(this.idUsuario);
          this.$.loginusuario.inicializarFormularios();
      }

      respuestaLogoutUsuario(e){
        console.log("gestor-eventos - respuestaLogoutUsuario");
        console.log(e);
        this.showAltaMovimiento = true;
        this.showCuentas = true;
        this.showMovimientos = true;
        this.showUsuario = true;
        this.showUsuarioOK = true;
        this.showError = true;
        this.showCerrarSesion = true;
        this.showAltaMovimiento = true;
        this.showAltaCuenta = true;
        this.showLogin = false;
      };

      printDivisas(e){
        console.log("gestor-eventos - printDivisas");
        console.log(e);
        this.ratesUSDEUR = e.detail.rates.EUR
        this.ratesUSDJPY = e.detail.rates.JPY
        this.ratesUSDGBP = e.detail.rates.GBP
      }
    };

    window.customElements.define(GestorEventos.is, GestorEventos);
  </script>
</dom-module>
