<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="dm-loginusuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h1>Este es el email {{email}}</h1>
    <h1>Este es el password {{password}}</h1>-->
    <iron-ajax
    method="POST"
    id="doLogin"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">


  </template>

  <script>
    class DmLoginUsuario extends Polymer.Element {
      static get is() { return 'dm-loginusuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      };

      envioDatosLogin(data) {
        console.log("envioDatosLogin");
        console.log(data);
        var loginData ={
          "email":data.email,
          "password":data.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida login-respuesta");
        console.log(data.detail.response);
        //this.logged = true;
        this.dispatchEvent(
          new CustomEvent(
            "login-respuesta",
              {
                "detail":data.detail.response
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      };
    }
    window.customElements.define(DmLoginUsuario.is, DmLoginUsuario);
  </script>
</dom-module>
