<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-logoutusuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
    method="POST"
    id="doLogout"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/logout"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class DmLogoutUsuario extends Polymer.Element {
      static get is() { return 'dm-logoutusuario'; }
      static get properties() {
        return {
          idUsuario:{
            type: Number
            //observer : '_requestAccount'
          }
        };
      };

      envioDatosLogout(data) {
        console.log("envioDatosLogout");
        console.log(data);
        var logoutData ={
          "idUsuario":data
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();

      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida logout");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "logout-respuesta",
              {
                "detail" : {
                  "cierre" : data.detail.response
                }
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      };

    }
    window.customElements.define(DmLogoutUsuario.is, DmLogoutUsuario);
  </script>
</dom-module>
