<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="altamovimiento-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar col-md-4" style="background-color:#e4e9ea">
        <h5><font face="arial"><img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/ls.png>&nbsp;&nbsp;Ingreso/Retirada Dinero</font></h5>
      </nav>
    </div>
    <font color=#2c84cc face="arial">
      <div class="form-group">
         <input type="number" class="col-lg-4 col-xs-12" placeholder="importe" value="{{importe::input}}" name="numero" id="numero" required/>
      </div>
      <div class="form-group">
         <input type="text" class="col-lg-4 col-xs-12" placeholder="descripción" value="{{desMovimiento::input}}" required/>
      </div>
      <div class="form-group">
        <font color=#2c84cc face="arial">
          <button class="btn btn-primary col-lg-4 col-xs-12" style="background-color:#084786;" on-click="datosAltaMovimiento">
            <font size=3 face="arial">Alta Movimiento </font>
          </button>
        </font>
      </div>
      <div class="form-group">
         <button class="btn btn-primary col-lg-1 col-xs-12" style="background-color:#084786;"  on-click="vuelvoCuentas">
           <font size=2 face="arial"> Atras </font>
         </button>
      </div>
    </font>
  </template>

  <script>

    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'altamovimiento-cuenta'; }
      static get properties() {
        return {
          importe: {
            type: Number
          },
          desMovimiento: {
            type: String
          },
          idCuenta: {
            type: Number
          }
        };
      };

      envioidCuenta(data){
        console.log("envio idCuenta");
        console.log(data);
        this.idCuenta = data.idCuenta;
      }

      datosAltaMovimiento() {
        console.log("datosAltaUsuario. Se ha pulsado boton Alta Movimiento");
        console.log("importe: " + this.importe);
        console.log("desMovimiento: " + this.desMovimiento);
        console.log("idCuenta: " + this.idCuenta);
        this.dispatchEvent(
          new CustomEvent(
            "movimiento-alta",
            {
              "detail" : {
                "importe" : this.importe,
                "desMovimiento" : this.desMovimiento,
                "idCuenta" : this.idCuenta
              }
            }
          )
        );
        console.log("Petición enviada.");
      };

      vuelvoCuentas() {
        console.log("vuelvoCuentas");
        this.dispatchEvent(
          new CustomEvent(
            "vuelvo-cuentas",
            {
              "detail" : {"idCuenta" : this.idCuenta}
            }
          )
        );
        console.log("Petición enviada vuelvoCuentas.");
      }

      inicializarFormularios(){
        console.log("inicializarFormularios");
        this.importe= "";
        this.desMovimiento = "";
      }

    };

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
