<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar navbar-light ">
        <h3>¡Bienvenido,<strong> {{firstName}} {{lastName}}</strong>!</h3>
      </nav>
    </div>

    <div class="card">
      <div class="card-header" style="background-color:#e4e9ea">
        <h4><font face="arial"> <img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/c.png>&nbsp;&nbsp;Cuentas Personales</font></h4>
        <button type="button" class="btn btn-secondary btn-sm" style="Position:Absolute; left:91%; top:4%; background-color:#084786;" on-click="altaEventoCuenta">
          <font size=2 face="arial"> Nueva Cuenta </font>
        </button>
      </div>
      <div class="card-body">
        <font face="arial">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">IBAN</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">SALDO</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" id="movimientos" items="{{cuentas}}">
                  <tr>
              	   <td>{{item.iban}}</td>
                   <td>{{item.desCuenta}}</td>
                   <td>{{item.balance}} €</td>
                   <td>
                      <button type="button" class="btn btn-secondary btn-sm" style="background-color:#084786;" on-click="envioEventoMovimientos">
                        <font size=2 face="arial">Ver movimientos </font>
                      </button>
                   </td>
                  </tr>
                </template>
            </tbody>
          </table>
        </font>
      </div>
    </div>

  </template>

  <script>

    class cuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {
        return {
          cuentas : {
            type: Array
          },
          firstName : {
            type: String
          },
          lastName : {
            type: String
          }
        };
      }

      envioDatosCuentas(data){
        console.log("cuentas-usuario - envioDatosCuentas");
        console.log(data);
        this.cuentas = data.cuentas;
        this.firstName = data.firstName;
        this.lastName = data.lastName;
      }

      envioEventoMovimientos(data){
        console.log("Botón ver movimientos");
        console.log(data);
        console.log("iban: " + data.model.item.iban);
        console.log("balance: " + data.model.item.balance);
        console.log("desCuenta: " + data.model.item.desCuenta);
        console.log("idCuenta: " + data.model.item.idCuenta);

        this.dispatchEvent(
          new CustomEvent(
            "cuentas",
            {
              "detail" : {
                "iban" : data.model.item.iban,
                "balance" : data.model.item.balance,
                "desCuenta" : data.model.item.desCuenta,
                "idCuenta" : data.model.item.idCuenta

              }
            }
          )
        );
        console.log("Evento movimientos enviado");
      }

      altaEventoCuenta(){
        console.log("Botón alta cuenta");

        this.dispatchEvent(
          new CustomEvent(
            "btncuenta",
            {
              }
          )
        );
        console.log("Evento pulso boton Alta Cuenta");
      }

    }

    window.customElements.define(cuentasUsuario.is, cuentasUsuario);
  </script>
</dom-module>
