<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-cuentasusuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h1>Este es el email {{email}}</h1>
    <h1>Este es el password {{password}}</h1>-->
    <iron-ajax
    method="GET"
    id="getAccounts"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/usuarios/{{idUsuario}}/cuentas"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class DmCuentasUsuario extends Polymer.Element {
      static get is() { return 'dm-cuentasusuario'; }
      static get properties() {
        return {
          idUsuario:{
            type: Number
          },
          firstName:{
            type: String
          },
          lastName:{
            type: String
          }
        };
      };

      envioDatosUsuario(data) {
        console.log("envioDatosUsuario");
        console.log(data);
        this.idUsuario = data.Usuario.idUsuario;
        this.firstName = data.Usuario.firstName;
        this.lastName = data.Usuario.lastName;
        this.$.getAccounts.generateRequest();
      };

      envioDatosUsuarioAC(data) {
        console.log("envioDatosUsuario");
        console.log(data);
        this.idUsuario = data;
        this.$.getAccounts.generateRequest();
      };


      manageAJAXResponse(data){
        console.log("Respuesta recibida cuentas-respuesta");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "cuentas-respuesta",
              {
                "detail" : {
                  "cuentas" : data.detail.response,
                  "firstName" : this.firstName,
                  "lastName" : this.lastName
                }
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "cuentas-respuesta",
              {
                "detail" : {
                  "firstName" : this.firstName,
                  "lastName" : this.lastName,
                  "msj" : "el usuario no tiene cuentas dada de alta"
                }
              }
          )
        );
      };

    }
    window.customElements.define(DmCuentasUsuario.is, DmCuentasUsuario);
  </script>
</dom-module>
