<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="dm-altausuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
    method="POST"
    id="doAltaUsuario"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/usuario"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">


  </template>

  <script>
    class DmAltaUsuario extends Polymer.Element {
      static get is() { return 'dm-altausuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          firstName: {
            type: String
          },
          lastName: {
            type: String
          }
        };
      };

      envioDatosAltaUsuario(data) {
        console.log("envioDatosAltaUsuario");
        console.log(data);
        var altaUsuario ={
          "email":data.email,
          "password":data.password,
          "firstName":data.firstName,
          "lastName":data.lastName
        };
        this.$.doAltaUsuario.body = JSON.stringify(altaUsuario);
        this.$.doAltaUsuario.generateRequest();

      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida altausuario-respuesta");
        console.log(data.detail.response);
        //this.logged = true;
        this.dispatchEvent(
          new CustomEvent(
            "altausuario-respuesta",
              {
                "detail":data.detail.response
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      };
    }
    window.customElements.define(DmAltaUsuario.is, DmAltaUsuario);
  </script>
</dom-module>
