<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="movimientos-cuenta">
  <template>
     <style>
       :host {
         display: block;
       }
     </style>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <br></br>
     <nav class="navbar navbar-light" style="background-color:#bfcad2;">
       <font face="arial">
         <a class="navbar-brand"><h6><b> Cuenta:</b> {{iban}} &nbsp;&nbsp;&nbsp; <b>Balance:</b> {{balance}}€</h6></a>
       </font>
     </nav>
     <div class="card">
       <div class="card-header" style="background-color:#e4e9ea">
         <font face="arial">
            <h4><font face="arial"><img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/l.png>&nbsp;&nbsp;Lista Movimientos</font></h4>
            <button type="button" class="btn btn-secondary btn-sm" style="Position:Absolute; left:87%; top:6%; background-color:#084786;" on-click="altaEventoMovimientos">
              <font size=2 face="arial"> Ingreso/Retirada Dinero </font>
            </button>
         </font>
       </div>
       <div class="card-body">
         <font face="arial">
           <table class="table">
             <thead>
               <tr>
                 <th scope="col">FECHA OPERACION</th>
                 <th scope="col">CONCEPTO</th>
                 <th scope="col">IMPORTE</th>
               </tr>
             </thead>
             <tbody>
                 <template is="dom-repeat" items="{{movimientos}}">
                   <tr>
               	    <td>{{item.fechaMovimiento}}</td>
                    <td>{{item.desMovimiento}}</td>
                    <td>{{item.importe}}€</td>
                   </tr>
                 </template>
             </tbody>
           </table>
          </font>
       </div>
     </div>

  </template>

  <script>

    class movimientosCuenta extends Polymer.Element {
      static get is() { return 'movimientos-cuenta'; }
      static get properties() {
        return {
          movimientos : {
            type: Array
          },
          iban : {
            type: String
          },
          balance : {
            type: Number
          },
          idCuenta : {
            type: Number
          }
        };
      }

      envioDatosMovimientos(data){
        console.log("cuentas-usuario - envioDatCuenta");
        console.log(data);
        this.iban = data.iban;
        this.balance = data.balance;
        this.movimientos = data.movimientos;
        this.idCuenta = data.idCuenta;
      }

      altaEventoMovimientos(){
        console.log("Botón alta movimientos");
        console.log("idCuenta: " + this.idCuenta);

        this.dispatchEvent(
          new CustomEvent(
            "btnmovimiento",
            {
              "detail" : {
                "idCuenta" : this.idCuenta
              }
            }
          )
        );
        console.log("Evento pulso boton Alta Movimiento");
      }


    }

    window.customElements.define(movimientosCuenta.is, movimientosCuenta);
  </script>
</dom-module>
