<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <font color=#2c84cc face="arial">
        <p>
          Usuario&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input class="col-lg-3 col-xs-12" type="email" placeholder="Email" value="{{email::input}}"required/>
        </p>
        <p>
          Contraseña&nbsp;&nbsp;&nbsp;
          <input class="col-lg-3 col-xs-12" type="password" placeholder="Password" value="{{password::input}}"required/>
        </p>
      </div>
      <div class="form-group">
        <p>
        <button class="btn btn-primary col-lg-2 col-xs-12" style="background-color:#084786;" on-click="hazteCliente">
          <font size=3 face="arial"> <img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/h.png> Hazte Cliente</font>
        </button>
        <button class="btn btn-primary col-lg-2 col-xs-12" style="background-color:#084786;" on-click="accesoClientes">
          <font size=3 face="arial">Acceso Clientes</font>
        </button>
        </p>
      </font>
    </div>
  </template>

  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      };

      accesoClientes() {
        console.log("Boton Acceso Clientes pulsado");
        console.log("email: " + this.email);
        console.log("password: " + this.password);
        this.dispatchEvent(
          new CustomEvent(
            "login",
            {
              "detail" : {
                "email" : this.email,
                "password" : this.password
              }
            }
          )
        );
        console.log("Petición enviada.");
      };

      hazteCliente(){
          console.log("Boton Hazte Cliente pulsado");
          this.dispatchEvent(
            new CustomEvent(
              "usuario",
              {}
            )
          );
      };

      inicializarFormularios(){
        console.log("inicializarFormularios");
        this.email= "";
        this.password = "";
      }


    };

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
