<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
        <nav class="navbar col-md-4" style="background-color:#e4e9ea">
          <h5><font face="arial"><img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/hl.png> &nbsp;&nbsp;Nuevo Usuario</font></h5>
        </nav>
    </div>
    <font color=#2c84cc face="arial">
      <div class="form-group">
         <input type="text" class="col-lg-4 col-xs-12" placeholder="Nombre" value="{{firstName::input}}" required/>
      </div>
      <div class="form-group">
         <input type="text" class="col-lg-4 col-xs-12" placeholder="Apellidos" value="{{lastName::input}}" required/>
      </div>
      <div class="form-group">
         <input type="email" class="col-lg-4 col-xs-12" placeholder="Email" value="{{email::input}}" required/>
      </div>
      <div class="form-group">
         <input type="password" class="col-lg-4 col-xs-12" placeholder="Password" value="{{password::input}}" required/>
      </div>
      <div class="form-group">
         <button class="btn btn-primary col-lg-4 col-xs-12" style="background-color:#084786;" on-click="datosAltaUsuario">
           <font size=3 face="arial"> Alta Usuario </font>
         </button>
      </div>
      <div class="form-group">
         <button class="btn btn-primary col-lg-1 col-xs-12" style="background-color:#084786;" on-click="vuelvoLogin">
           <font size=2 face="arial"> Atras </font>
         </button>
      </div>
    </font>
  </template>

  <script>

    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          firstName: {
            type: String
          },
          lastName: {
            type: String
          }
        };
      };


      datosAltaUsuario() {
        console.log("datosAltaUsuario. Se ha pulsado boton Alta Usuario");
        console.log("email: " + this.email);
        console.log("password: " + this.password);
        this.dispatchEvent(
          new CustomEvent(
            "usuario-alta",
            {
              "detail" : {
                "email" : this.email,
                "password" : this.password,
                "firstName" : this.firstName,
                "lastName" : this.lastName
              }
            }
          )
        );
        console.log("Petición enviada.");
      };

      vuelvoLogin() {
        console.log("vuelvoLogin");
        this.dispatchEvent(
          new CustomEvent(
            "vuelvo-login",
            {
              "detail" : {}
            }
          )
        );
        console.log("Petición enviada vuelvoLogin.");
      };

      inicializarHazteCliente(){
        console.log("inicializarFormularios");
        this.firstName= "";
        this.lastName= "";
        this.email= "";
        this.password = "";
      }

    };

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
