<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="dm-apiexterna">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto=""
      id="getdivisa"
      url= "https://v3.exchangerate-api.com/bulk/cb989f99f6b8d0d11635262a/USD"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmApiexterna extends Polymer.Element {
      static get is() { return 'dm-apiexterna'; }
      static get properties() {
        return {

        };
      }

      manageAJAXResponse(data){
        console.log("dm-apiexterna");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "respuesta-apiexterna",
              {
                "detail":data.detail.response
              }
          )
        );
      }

      showError(error){
        console.log("Error dm-apiexterna");
        console.log(error);
      }

    };

    window.customElements.define(DmApiexterna.is, DmApiexterna);
  </script>
</dom-module>
