<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="form-group">
      <nav class="navbar col-md-4" style="background-color:#e4e9ea">
        <h5><font face="arial"><img src=https://s3-eu-west-1.amazonaws.com/leti-demobucket/cs.png>&nbsp;&nbsp;Nueva Cuenta</font></h5>
      </nav>
    </div>
    <font color=#2c84cc face="arial">
      <div class="form-group">
         <input type="number" class="col-lg-4 col-xs-12" placeholder="balance" value="{{balance::input}}" name="numero" id="numero" required/>
      </div>
      <div class="form-group">
         <input type="text" class="col-lg-4 col-xs-12" placeholder="descripción" value="{{desCuenta::input}}" required/>
      </div>
      <div class="form-group">
        <font color=#2c84cc face="arial">
          <button class="btn btn-primary col-lg-4 col-xs-12" style="background-color:#084786;" on-click="datosAltaCuenta">
            <font size=3 face="arial"> Alta Cuenta </font>
          </button>
        </font>
      </div>
      <div class="form-group">
          <button class="btn btn-primary col-lg-1 col-xs-12" style="background-color:#084786;"  on-click="vuelvoCuentas">
            <font size=2 face="arial"> Atras </font>
          </button>
      </div>
    </font>
  </template>

  <script>

    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          balance: {
            type: Number
          },
          desCuenta: {
            type: String
          },
          idUsuario: {
            type: Number
          }
        };
      };

      envioidUsuario(data){
        console.log("envio idUsuario");
        console.log(data);
        this.idUsuario = data;
      }

      datosAltaCuenta() {
        console.log("datosAltaCuenta. Se ha pulsado boton Alta Cuenta");
        console.log("balance: " + this.balance);
        console.log("desCuenta: " + this.desCuenta);
        console.log("idUsuario: " + this.idUsuario);
        this.dispatchEvent(
          new CustomEvent(
            "cuenta-alta",
            {
              "detail" : {
                "balance" : this.balance,
                "desCuenta" : this.desCuenta,
                "idUsuario" : this.idUsuario
              }
            }
          )
        );
        console.log("Petición enviada.");
      };

      vuelvoCuentas() {
        console.log("vuelvoCuentas");
        this.dispatchEvent(
          new CustomEvent(
            "vuelvo-cuentas",
            {
              "detail" : {"idCuenta" : this.idCuenta}
            }
          )
        );
        console.log("Petición enviada vuelvoCuentas.");
      }

      inicializarFormularios(){
        console.log("inicializarFormularios");
        this.balance= "";
        this.desCuenta = "";
      }

    };

    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
