<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-movimientoscuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
    method="GET"
    id="getMov"
    url="http://techu4projectleticiao-techu4projectleortizto.193b.starter-ca-central-1.openshiftapps.com/cuenta/{{idCuenta}}/movimientos/"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
    class DmMovimientosCuenta extends Polymer.Element {
      static get is() { return 'dm-movimientoscuenta'; }
      static get properties() {
        return {
          idCuenta:{
            type: Number
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          }
        };
      };

      envioDatCuenta(data) {
        console.log("envioDatCuenta");
        console.log(data);
        this.idCuenta = data.idCuenta;
        this.iban = data.iban;
        this.balance = data.balance;
        this.$.getMov.generateRequest();
      };

      manageAJAXResponse(data){
        console.log("Respuesta recibida movimientos-respuesta");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "movimientos-respuesta",
              {
                "detail" : {
                  "movimientos" : data.detail.response,
                  "iban" : this.iban,
                  "balance" : this.balance,
                  "idCuenta" : this.idCuenta
                }
              }
          )
        );
      };

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "movimientos-respuestaerror",
              {
                "detail" : {
                  "movimientos" : {},
                  "iban" : this.iban,
                  "balance" : this.balance,
                  "idCuenta" : this.idCuenta

                }
              }
          )
        );
      };

    }
    window.customElements.define(DmMovimientosCuenta.is, DmMovimientosCuenta);
  </script>
</dom-module>
